<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
    <div class="py-8">
        <h2 class="text-center font-bold text-xl">LIST GAME</h2>

        <div class="container m-auto py-8">
            <div class=" grid grid-cols-6 gap-4">
                <div class=" border rounded-md p-2">
                    <a href="/pokemon?index=2">
                        <img class="w-full" src="https://www.freepnglogos.com/uploads/pokemon-png/pokemon-png-image-famous-anime-character-png-only-6.png" alt="">
                        <p class="text-center">Pokemon</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>